.modal-wrapper {
  position: fixed;
  inset: 0;
  z-index: 999999999;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  overflow: hidden;
}

.modal-content {
  background: #ba8a94;
  color: black;
  border-radius: 20px;
  width: 90%;
  max-width: 900px;
  max-height: 90vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.modal-body {
  padding: 3rem 2rem;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  overscroll-behavior: contain;
}

.category {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #333;
}

.modal-body h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: white;
}

.subtitle {
  text-align: center;
  color: #444;
}

.modal-image {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.stack span {
  background: #eee;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #ba8a94;
}

.left-buttons,
.right-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.modal-footer button:hover,
.modal-footer a:hover {
  background: #8290b7;
  color: white;
}

.pill-btn {
  padding: 10px 18px;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: black;
  color: white;
  font-size: 14px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.pill-btn:hover {
  background: #8290b7;
  color: white;
  border-color: #8290b7;
}
